@charset 'utf-8';

@import './base/index';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: rgb(0, 183, 255);
}

.search-form {
  & input {
    width: 280px;
    padding: 10px 15px;
  }
  &__button {
    padding: 10px 20px;
  }
}

.gallery {
  margin: 30px;
  display: grid;
  gap: 30px 30px;
  grid-auto-flow: row;
  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.photo-card {
  grid-area: photo-card;
  justify-self: center;
  align-self: center;
  box-shadow: 2px 2px 4px grey;
  width: 100%;
  height: 100%;
}

.img-item {
  width: 100%;
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  font-weight: 500;
  color: #000;
  & span {
    font-weight: 700;
    color: rgb(116, 99, 5);
  }
}

.load-more {
  display: block;
  margin: 30px auto;
  padding: 8px 15px;
  border-radius: 4px;
  border: 1px solid;
}

.is-hidden {
	visibility: hidden;
	display: none;
}